@import '../../styles/variables.scss';

.weather-indicators {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-medium;
  margin-top: $spacing-medium;

  @include breakpoint('medium') {
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing-large;
      margin-top: $spacing-large;
  }
}
