@import '../../styles/variables.scss';

.temp-graph {
  padding: 1em;
  border-radius: 10px;
  background-color: $color-white-transparent;
}

.legend {
  display: flex;
  justify-content: space-between;
}

.legend-item p {
  text-align: center;
}
