@import '../../styles/variables.scss';

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  margin-top: auto;

  canvas {
    max-width: 95%;
    margin: 0 auto;
  }
}

.legend {
  display: flex;
  justify-content: space-between;
}

.legend-item p {
  font-size: calc(0.65rem + 0.8vw);
  text-align: center;
  margin: 0;
}

.day {
  color: $color-blue-dark;
  padding-bottom: 0.5em;
}

.temp {
  font-size: 1em;
  color: $color-blue-dark
}

.legend-item p {
  @include breakpoint('large') {
    font-size: 1.125rem;
  }
}
