@import '../../styles/variables.scss';
.weather-display {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em;
  border-radius: $border-radius;
  background-color: $color-blue-light;

  @include breakpoint('medium') {
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
  }
}

.weather-container {
  padding-bottom: 2em;

  @include breakpoint('medium') {
    width: 50%;
    padding: 0 2em 0 0;
  }
}

.location-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}

.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
}

.refetch {
  background: none;
  border: none;
}

.icon-refetch {
  font-size: 1.3em;
  margin-left: 0.25em;

  &:hover {
    cursor: pointer;
    color: red;
  }
}
.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  padding: 3.5em 0;
}

.weather-temp {
  font-size: 3rem;
  margin: 0;
  color: $color-blue;
}

.temp-feels {
  margin-top: -1em;
  font-size: 1rem;
  color: $color-blue;
}

.weather-desc {
  font-size: 1.25rem;
  margin: 0;
  color: $color-blue;
}

.weather-data {
  display: flex;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.icon {
  color: $color-blue;
  vertical-align: middle;
  margin-right: 0.2em;
}

.icon-location {
  font-size: 1.75rem;
}

.icon-clouds {
  font-size: 2.25rem;
}

.icon-visibility {
  font-size: 1.75rem;
}

.icon-dew-point {
  font-size: 1.25rem;
}
