.weather-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 10px;
  background-color: #ECF3F8;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #2C3E50;
}

.description {
  margin: 1em 0;
  font-size: 1em;
  color: #646464;
}

.value {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #2C3E50;
}
