@import '../../../styles/variables.scss';

.main {
  margin: 0 1em;
  height: calc(100% - ($header-height + $footer-height));

  @include breakpoint('medium') {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3em 0;
  }
}
