@import '../../../styles/variables.scss';

.compass {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 0 10px $color-shadow;
  border: 1px solid $color-blue-light;
  position: relative;
  color: $color-blue;
  text-shadow: 1px 1px 1px $color-white;

  &:before {
    content: "N";
    font-weight: $font-weight-bold;
    position: absolute;
    text-align: center;
    color: $color-blue-dark;
    width: 100%;
    font-size: 14px;
    top: -5px;
  }

  .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: $color-white;
    border-radius: 100%;

    p {
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 80px;
      display: block;
      margin-top: -45px;
      font-size: 28px;
      font-weight: bold;

      span {
        display: block;
        line-height: normal;
        margin-top: -24px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }

  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid $color-red;
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
      z-index: 99;
    }
  }
}
